  @{
  Layout = "_Layout";
}
    @using MusicOrganizer.Models;

    <h1>Artists</h1>

      <h3>No Artists have been added yet!</h3>
    
<h3><a href='/artists/'>View artists</a></h3>
<br>
<h3><a href='/artists/new'>Add a new artist</a></h3>
