  @{
  Layout = "_Layout";
}
    <h1>Find an Artist</h1>
    <p>Find an Artist here:</p>

    @* <form action="/artists/search method="get">
      <label for="artistName">Artist's name</label>
      <input id="artistName" name="artistName" type="text">
      <button type="submit">Find Artist</button>
    </form> *@

        @* public static Artists Find(int searchId)
    {
      return _instances[searchId - 1];
    } *@